<section id="tabs">
  <ul class="nav nav-tabs nav-justified md-tabs" id="myTab">
    <li class="nav-item" id="tableFormat"> <a href="#tableView"
    class="nav-link" data-toggle="tab"
    (click)="showSelectedTab('tableView')">Table View</a> </li>
    <li class="nav-item" id="graphFormat"> <a href="#barChatView"
    class="nav-link" data-toggle="tab"
    (click)="showSelectedTab('barChat')">Graph View</a> </li>
  </ul>

  <!-- Table View -->
  <div id="tableView">
    <div class="row m-3 ml-5 mr-5">
      <div class="col-md-6">
        <div class="workLess"></div>
        <small class="indicatorBox">worked less then 100 hours</small>
      </div>
      <div class="col-md-6" >
        <div class="workMore"></div>
        <small class="indicatorBox">worked greter then 100 hours</small>
      </div>
    </div>

      <div class="row m-3 ml-5 mr-5" >
          <div class="col-mb-5 w-100">
            <div class="table-responsive" >
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th scope="col" class="font-weight-bold">S.No</th>
                    <th scope="col" class="font-weight-bold">Employee Name</th>
                    <th scope="col" class="font-weight-bold">Total Time Worked(Hour)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of employeeDataInformation  ;let i=index" [ngStyle]="stringToInteger(emp[1].totalTimeWorked) < 100 ?{'background-color':'#fa9c9c'} : {'background-color': 'rgb(247, 244,244)'}">
                    <td scope="col">{{i+1}}</td>
                    <td scope="col" *ngIf="emp[1].EmployeeName == null">Unknown</td>
                    <td scope="col" *ngIf="emp[1].EmployeeName !== null">{{emp[1].EmployeeName}}</td>
                    <td scope="col">{{emp[1].totalTimeWorked }} </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

  <!-- Graph View -->
  <div id="barChatView">
    <div class="barChat">
      <div class="chartContainer ml-5" >
        <apx-chart [series]="empTotalTime" [chart]="chartDetails"
        [labels]="empName" [title]="chartTitle"
        [dataLabels]="chartDataLabels"></apx-chart>
      </div>
    </div>
  </div>
</section>